* {
  padding: 0;
  margin: 0;
}

.calculator {
  align-self: center;
}

.mainframe {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1px;
  margin-bottom: 0;
  width: 50%;
}

.screen {
  width: 48.3%;
  height: 35%;
  border: 2px solid black;
  color: white;
  padding: 20px;
  text-align: right;
  background: gray;
  margin: 0 0 0 45%;
}

.row {
  display: grid;
  grid-column-start: center;
  width: 51.5%;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 10% 0 45%;
}

button {
  border: 1px solid black;
  padding: 10px 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
}

button:hover {
  color: aqua;
  background-color: black;
}

button:active {
  background-color: grey;
}

.buttoncolor {
  background: orangered;
}

.zero {
  grid-column: 1/ span 2;
}
